@media all and (max-width: 900px){
    .heading{
        font-size: 5vw;
    }

    #selectMonth {
        width: 80%;
    }

    #selected{
        font-size: 5vw;
    }

    .choose_month {
        font-size: 4vw;
    }
}