{% extends 'client/base.html' %}
{% load static %}
{% block tittle %} {{the_tittle}} {% endblock %}
{% block stylelink %}
<link rel="stylesheet" href="{% static 'client/css/homestyle.css' %}">
<link rel="stylesheet" href="{% static 'client/css/mhomestyle.css' %}">
{% endblock %}
{% block body %}
<div class="home">
    <div class="book">
        <div class="name_company">
            <p>Реснички от Леры</p>
        </div>
        <h2>Забронировать наращивание ресниц через сайт</h2>
        <a href="{% url 'book' 'now'%}"><div class="button_book">
            <p>Забронировать</p>
        </div></a>
        <div class="about">
            О сайте
        </div>
    </div>
</div>
{% endblock %}